.Diploma {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  border: ridge 20px rebeccapurple;
  box-shadow: inset 0px 30px 15px 5px #FF8080, inset 0px 60px 15px 5px #FFE488, inset 0 90px 15px 5px #8CFF85, inset 0 120px 15px 5px #80C7FF, inset 0 150px 15px 7px #E488FF, inset 0 100px 15px 7px #FF616B, inset 0 200px 27px 1px #8E5CFF, inset 0 200px 28px 44px rgba(0,0,0,0);

  h1 {
    margin: 0;
    font-size: 140px;
    color: #7c220d;
  }

  h2 {
    font-size: 112px;
    margin: 0;
    color: #9c27b0;
  }

  h3 {
    font-size: 50px;
    margin: 0;
  }

  h4 {
    font-size: 30px;
    margin: 0;
  }

  img.award {
    width: 100px;
  }

  .coloring {
    margin: auto;
    width: 300px;
  }
}
