.PorownywanieLiczb {
  width: 100%;

  h2 {
    margin: 0;
    font-size: 70px;
    text-align: center;
  }

  .task {
    text-align: center;
    font-size: 140px;
    color: #9C27B0;
    font-weight: bold;
  }

  .gap {
    display: inline-block;
    height: 140px;
    margin: 0 0.2em -0.2em;
    width: 98px;
    padding: 20px;
    font-size: 80px;
    text-align: center;
    border: 2px #0099d6 solid;
    border-radius: 20px;
    background-color: #f0f8ff;
    color: #000;
  }

  .answers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;

    div {
      width: 136px;
      margin: 10px 20px;
      padding: 20px;
      font-size: 80px;
      text-align: center;
      border: 2px #0099d6 solid;
      border-radius: 20px;
      background-color: #f0f8ff;
      color: #000;
      transition: background-color .3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #bde5ff;
      }
    }
  }
}
