.PieniadzeIZakupy {
  width: 100%;

  h2 {
    margin: 0;
    font-size: 70px;
    text-align: center;
  }

  .images {
    height: 150px;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    img {
      height: 80%;
      width: 20%;
      padding: 10px;
    }
  }

  .answers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
      width: 300px;
      margin: 10px 20px;
      padding: 20px;
      font-size: 80px;
      text-align: center;
      border: 2px #0099d6 solid;
      border-radius: 20px;
      background-color: #f0f8ff;
      color: #000;
      transition: background-color .3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #bde5ff;
      }

    }
  }
}
