// noinspection CssInvalidAtRule
@import-normalize;
@font-face {
  font-family: 'Amatic SC';
  font-weight: normal;
  src: local('Amatic SC'), url('assets/fonts/AmaticSC-Regular.ttf');
}
@font-face {
  font-family: 'Amatic SC';
  font-weight: bold;
  src: local('Amatic SC'), url('assets/fonts/AmaticSC-Bold.ttf');
}

body {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #00b7ff;
}

* {
  box-sizing: border-box;
}

a {
  color: #7c220d;
  text-decoration: none;
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: url('./assets/images/landscape.png') right center;
  background-size: cover;
  z-index: -1;
  transition: opacity 500ms;
  opacity: 0;
}

body.route-::before, body.route-classes::before {
  opacity: 1;
}

body.route-sections::before {
  opacity: 0
}

body[class^="route-diploma"] {
  background-color: #ffffff;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
